# virtualenv files
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyQt5 compiled UI files
*.ui.py

# Compiled resource files
*.qrc.py
*.spec

# Logs
*.log

# IDE specific files
.vscode/
.idea/
*.pydevproject
*.pyc
*.pyo
*.orig

# Distribution / packaging
/dist/
/build/
*.egg-info/

