asttokens
backcall
decorator
executing
ipython
jedi
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pure-eval
Pygments
pyotp
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
qrcode
six
stack-data
traitlets
typing_extensions
wcwidth
