asttokens
backcall
black
click
decorator
executing
ifaddr
ipython
jedi
matplotlib-inline
mypy-extensions
netifaces
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
ptyprocess
pure-eval
Pygments
pyotp
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
qrcode
six
stack-data
traitlets
typing_extensions
wcwidth
zeroconf
