asttokens
backcall
black
cffi
click
cryptography
decorator
executing
ifaddr
ipython
jedi
matplotlib-inline
mpmath
mypy-extensions
netifaces
packaging
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyasn1
pycparser
pycryptodome
Pygments
PyMySQL
pyotp
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dotenv
python-nmap
pyzmq
qrcode
rsa
six
stack-data
sympy
termcolor
traitlets
typing_extensions
wcwidth
zeroconf
